# IntelliJ IDEA
**/.idea/
*.iml
*.iws
*.ipr

# Maven
**/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Kotlin
.kotlin

# VS Code
.vscode/

# macOS
.DS_Store

#Windows
Thumbs.db